<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>With decades of computer experience, and penchant for learning, I can offer an up-to-date information set which incorporates the type of knowledge which can only come from personal experience and experimentation.
<br>
    It is my pleasure to offer my skills to achieve long-term solutions as a part of a team, or as a solo-endeavor.
    </p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.linkedin.com/in/shawn-r-systems-science"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://github.com/lQQ3"><%= fa_icon "github" %></a></li>
      <li><a href="https://rubygems.org/gems/srice_view_tool"><%= fa_icon "gem fa" %></a><a href="https://fontawesome.com/icons?d=gallery&q=gem">fix me</li>
      <li><a href="https://en.wikipedia.org/wiki/Serious_game"><%= fa_icon "wikipedia-w" %></a></li>
      <li><a href="https://soundcloud.com/user-21997151/shawnrice_phillipmarlowe_thepa/s-jU2mZ"><%= fa_icon "soundcloud" %></a></li>
    </ol>
  </div>
</div>